.black{
    background-color: black;
}
.darkGray{
    background-color: rgb(71, 71, 71);
}
.lightkGray{
    background-color: gray;
}
.lighterGray{
    background-color: rgb(208, 208, 208);
}
.white{
    background-color: white;
}
.red{
    background-color: red;
}
.brown{
    background-color: rgb(225, 156, 45);
}
.yellow{
    background-color: yellow;
}
.lime{
    background-color: lime;
}
.green{
    background-color: green;
}
.aquamarine{
    background-color: aquamarine;
}
.lightBlue{
    background-color: lightblue;
}
.blue{
    background-color: blue;
}
.purple{
    background-color: rgb(150, 75, 150);
}